.textSpeech_container {
    display: flex;
    gap: 20px;
    width: auto;
    .box{
        display: flex;
        width: auto;
        label{
            input[type=range]{
                -webkit-appearance: none;
                &::-webkit-slider-runnable-track{
                    width: 300px;
                    height: 5px;
                    background: #ddd;
                    border: none;
                    border-radius: 3px;
                }

                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    border: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: goldenrod;
                    margin-top: -4px;
                }

                &:focus{
                    outline: none;
                }

                &:focus::-webkit-slider-runnable-track{
                    background-color: #ccc;
                }

            }
        }
    }

    .buttons {
        border: none;
        outline: none;
        width: 30%;
        height: 50%;
        justify-content: space-between;
        gap: 20px;
        display: flex;

        button {
            width: 100%;
            border: none;
            display: flex;
            justify-content: center;
            outline: none;
            cursor: pointer;
            align-items: center;
            box-shadow: 0 0 2px 0 gray;
            background-color: #464150;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}


@media only screen and (min-width: 320px) and (max-width: 425px) {
    .textSpeech_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .box{
            width: 100%;
            display: flex;
            gap: 10px;
            label{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                gap: 10px;
                padding: 2px;
                input[type=range]{
                    margin: 4px 0 6px 0;
                    background: goldenrod;
                }
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: auto;

            button {
                width: 25%;
                border: none;
                display: flex;
                justify-content: center;
                border: 1px solid gray;
            }
        }
    }
}